* {
    width: 100%;
    margin: 0%;
    padding: 0%;
}
/*#Home{
    background-image: url("img/curves.jpg");
    background-size: cover;
}*/
#Home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#text{
    display: inline-block;
    box-sizing: border-box;
}
#Greeting{
    display: inline-block;
    box-sizing: border-box; 
}
