* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*Apunte : Es importante poner target="blank" para que los enlaces de linkedin y se abra en una nueva pastaña
*/
body{
    margin: 0;
    padding: 0;
}
#navigation{
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}
ul{
    width: 100%;
}
li{
    width: 25%;
}
.image__background{
    width: 100%;
    height: 100%;
    background-image: url("../img/curves.jpg");
    background-size: cover;
}

