* {
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#navigation{
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}
ul{
    width: 100%;
}
li{
    width: 25%;
}
#Home{
    height: 95%;
    padding: 20% 0%;
}
#About{
    padding: 5% 0%;  
}